.container
  .box.box-default
    .box-body
      = link_to 'Add New Park', new_admin_park_path, class: "btn btn-success btn-flat btn-sm"
  .box.box-primary
    .box-body
      %table#admin-table.searchable.table.table-bordered
        %thead
          %tr
            %th Name
            %th List Reports?
            %th Deleted?
            %th Number of Reports
            %th.text-center Edit
            %th.text-center Info
            %th.text-center Delete
        %tbody
          - @park_list.each do |park|
            %tr
              %td= park.name
              %td
                - if park.report?
                 %i.fa.fa-check
                - else
                 %i.fa.fa-times
              %td
                - if park.deleted_at.present?
                  %i.fa.fa-check
                - else
                  %i.fa.fa-times
              %td
                - if park.deleted_at.present?
                  = parks.reports.with_deleted.length ' deleted'
                - else
                  = park.reports.length ' present'
              %td.text-center= link_to "edit", edit_admin_park_path(park)
              %td.text-center= link_to "info", admin_park_path(park)
              %td.text-center
                = bootstrap_form_tag url: admin_park_path(park), method: :delete do |f|
                  = f.submit 'DELETE', class: 'btn btn-danger btn-flat btn-sm'