%h4= t('.sign_in', default: 'Sign in')
= simple_form_for(resource,
                  as: resource_name,
                  url: session_path(resource_name),
                  html: { role: 'form' },
                  defaults: { input_html: { class: 'form-control' },
                              wrapper_html: { class: 'form-group' } }) do |f|
  = f.input :email, autofocus: true, as: :email
  = f.input :password, autocomplete: 'off', as: :password
  - if devise_mapping.rememberable?
    .checkbox
      = f.label :remember_me do
        = f.check_box :remember_me
        = t('.remember_me', default: 'Remember me')
  .form-group
    = f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-primary'
    .pull-right= render 'devise/shared/links'
