.container
  .box.box-default
    .box-body
      = link_to 'Add New User', new_admin_user_path, class: "btn btn-success btn-flat btn-sm"
  .box.box-primary
    .box-body
      %table#admin-table.searchable.table.table-bordered
        %thead
          %tr
            %th Email
            %th Confirmed
            %th Logins
            %th Last Login
            %th.text-center Edit
            %th.text-center Info
            %th.text-center Delete
        %tbody
          - @user_list.each do |user|
            %tr
              %td= user.email
              - if user.confirmed_at.present?
                %td
                  %i.fa.fa-check
              - else
                %td
                  %i.fa.fa-times
              %td= user.sign_in_count
              %td= user.current_sign_in_at
              %td.text-center= link_to "edit", edit_admin_user_path(user)
              %td.text-center= link_to "info", admin_user_path(user)
              %td.text-center
                = bootstrap_form_tag url: admin_user_path(user), method: :delete do |f|
                  = f.submit 'DELETE', class: 'btn btn-danger btn-flat btn-sm'
