.container
  .box.box-default
    .box-body
      .row
        .col-sm-1
          = bootstrap_form_tag url: admin_user_path(@user), method: :delete do |f|
            = f.submit 'DELETE', class: 'btn btn-danger btn-flat btn-sm'
        = bootstrap_form_tag url: admin_user_extra_actions_path(@user), method: :post do |f|
          - unless @user.confirmed?
            .col-sm-1
              = f.submit 'Reconfirm', class: 'btn btn-info btn-flat btn-sm'

  .box.box-info
    .box-header.with-border
      %h4 User Details
    .box-body
      %table#admin-table{ width: '100%' }
        %tbody
          %tr
            %th Email
            %td= @user.email
          - if @user.admin?
            %tr
              %th Admin
              %td
                %span.badge.badge-success
                  Admin
          %tr
            %th Confirmed
            - if @user.confirmed_at.present?
              %td
                %i.fa.fa-check
              %tr
                %th Confirmed At
                %td= @user.confirmed_at
              %tr
                %th Confirmation Sent At
                %td= @user.confirmation_sent_at
              %tr
                %th Logins
                %td= @user.sign_in_count
              %tr
                %th Last Login
                %td= @user.current_sign_in_at
            - else
              %td
                %i.fa.fa-times
