.container
  .box.box-default
    .box-body
      %a.btn.btn-success.btn-flat.btn-sm.file-transfer{ data: { url: @report.file_url } }
        = 'Get File: ' + @report.file_name
        %i.fa.fa-spinner.fa-spin.loading-spinner.hidden
  .box.box-primary
    .box-header.with-border
      %h4 Report Details
    .box-body
      %table#admin-table{ width: '100%' }
        %tbody
          %tr
            %th Accommodations
            %td= @report.accommodations_new_cancelled
          %tr
            %th Total Revenue
            %td= '%.2f' % @report.total_rev
          %tr
            %th Total Cash
            %td= '%.2f' % @report.total_cash
          %tr
            %th Deposits
            %td= '%.2f' % @report.deposits
          %tr
            %th Total Credit Card Payments
            %td= '%.2f' % @report.total_credit_card_payments
          %tr
            %th Transaction Fees
            %td= '%.2f' % @report.transaction_fees
          %tr
            %th Credit Card Fees
            %td= '%.2f' % @report.credit_card_fees
          %tr
            %th Total Fees
            %td= '%.2f' % @report.total_fees
          %tr
            %th Distribute Amount
            %td= '%.2f' % @report.distribute_amount

  .box.box-warning
    .box-header.with-border
      %h4 Park Info
    .box-body
      %table#admin-table{ width: '100%' }
        %tbody
          %tr
            %th Name
            %td= @park.name
          %tr
            %th Username
            %td= @park.username
          %tr
            %th Address
            %td= @park.full_address
          %tr
            %th Phone
            %td= @park.phone
          %tr
            %th Email
            %td= @park.email
